@import '~node_modules/modern-normalize/modern-normalize.css';

#page-container {
  position: relative;
  min-height: 100vh;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }

}

.active {
  opacity: 1;
  visibility: visible;
}
