:root {
  --container-checkbox: 80px;
  --height-checkbox: 41px;
  --ball-checkbox: 38px;
}
@media screen and (min-width: 320px) {
  .custom__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
  }

  .input-toggle {
    appearance: none;
    display: none;
  }

  .checkbox__container {
    display: grid;
    inline-size: calc(var(--container-checkbox) - 10px);
    block-size: var(--height-checkbox);
    border-radius: 100vh;
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    position: relative;
    box-shadow: 0px 1.9px 3.2px rgba(0, 0, 0, 0.25);
    outline: 1px solid hsl(0, 0%, 60%, 0.2);
  }

  .label-for-toggle {
    cursor: pointer;
    isolation: isolate;
    display: grid;
    place-content: center start;
    width: inherit;
    border-radius: inherit;
    border: 1px solid hsl(200, 0%, 100%, 0.825);
    box-shadow: 0 2px 2px 1px #0003 inset, inset 0 -1px 1.5px 1px #fff7;
  }

  .ball {
    place-self: center start;
    position: absolute;
    display: grid;
    place-content: center;
    width: var(--ball-checkbox);
    aspect-ratio: 1;
    background: linear-gradient(135deg, #3ddbd9, #8da2ec, #fe95ff);
    border-radius: 50%;
    transition: transform 500ms cubic-bezier(0.4, 0.47, 0.66, 0.86);
    box-shadow: 0 0 0.75rem 0 #0004;
  }

  :checked ~ .checkbox__container .ball {
    transform: translateX(
        calc((var(--container-checkbox) - -3px) - var(--ball-checkbox) - 0.9rem)
      )
      rotate(540deg);
  }

  .false-button {
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    text-decoration: none;
    display: block;
    position: relative;
  }
  .line-after::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    display: block;
    position: absolute;
    bottom: -3px;
    transform: scaleX(1);
  }
}
@media screen and (min-width: 768px) {
  .checkbox__container {
    inline-size: 130px;
    block-size: 50px;
  }
  :checked ~ .checkbox__container .ball {
    transform: translateX(
        calc(
          (var(--container-checkbox) - -53px) - var(--ball-checkbox) - 0.9rem
        )
      )
      rotate(540deg);
  }
  .ball {
    width: 47px;
  }
}
