#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 320px) {
  #content-wrap {
    padding-bottom: 100px;
  }

  .footer {
    height: 100px;
    background-color: #f7f7f7;

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      gap: 5px;
      padding-top: 30px;
      padding-bottom: 28px;
          }

    &__content {
      color: #545454;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.17;
      // position: relative;
    }

    &__link {
      color: #545454;
    }
  }
}

@media screen and (min-width: 768px) {
  #content-wrap {
    padding-bottom: 77px;
  }
  .footer {
    height: 77px;

    &__content {
      font-size: 16px;
    }
  }
}
// .footer_point {
//   position: relative;
// }

.easter__egg {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: transparent;
  
 
  // text-transform: uppercase;

  @media only screen and (max-width: 1100px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 900px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 700px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 14px;
  }

  &:hover span:nth-child(1) {
    transform: translateY(-1rem);
    transition-delay: 3000ms;

    @media only screen and (max-width: 1100px) {
      transform: translateY(-0.7rem);
    }

    @media only screen and (max-width: 900px) {
      transform: translateY(-0.55rem);
    }

    @media only screen and (max-width: 700px) {
      transform: translateY(-0.47rem);
    }

    @media only screen and (max-width: 480px) {
      transform: translateY(-0.4rem);
    }
  }

  &:hover span:nth-child(2) {
    transform: translateY(1rem);
    transition-delay: 3000ms;

    @media only screen and (max-width: 1100px) {
      transform: translateY(0.7rem);
    }

    @media only screen and (max-width: 900px) {
      transform: translateY(0.55rem);
    }

    @media only screen and (max-width: 700px) {
      transform: translateY(0.47rem);
    }

    @media only screen and (max-width: 480px) {
      transform: translateY(0.4rem);
    }
  }

  &:hover span:nth-child(3) {
    opacity: 1;
    transition: opacity 700ms ease;
    transition-delay: 3000ms;
  }

  & span:nth-child(1),
  & span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #545454;
    transition: 0.5s;
    overflow: hidden;
    width: 100%;
  }

  & span:nth-child(1) {
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
  }

  & span:nth-child(2) {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }

  & span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    
    transform: translate(2%, -10%);
    opacity: 0;
    transition: opacity 350ms ease;
    font-size: 8px;
    color: #fff;
    background: #FF8445;
    width: 97.5%;
    padding-left: 5px;
    text-align: center;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    line-height: 100%;
    

    @media only screen and (max-width: 1100px) {
      font-size: 8px;
    }

    @media only screen and (max-width: 900px) {
      font-size: 8px;
      width: 97%;
      letter-spacing: 4px;
    }

    @media only screen and (max-width: 700px) {
      font-size: 8px;
      width: 96%;
      letter-spacing: 3px;
      word-spacing: 0.5rem;
    }

    @media only screen and (max-width: 480px) {
      font-size: 8px;
      letter-spacing: 2px;
      word-spacing: 0.2rem;
    }
  }
}
