.footer{
    height: 77px;
    background-color: #F7F7F7;
    &__container{
        display: flex;
        align-items: baseline;
        gap: 5px;
        padding-top: 30px;
        padding-bottom: 28px;
    }
    &__content{
        color: #545454;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.17;
    }
    &__link{
        color: #545454;
            
    }
}

