@media screen and (min-width: 320px) {
  .box-genre {
    position: relative;
    // width: 100px;
    // margin: 0 auto;
  }
  .dropdown {
    position: relative;
    height: 41px;
    width: 95px;
    background: #ff001b;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
  }
  .items {
    padding: 0px;
  }
  .dropdown .items {
    color: #ff001b;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    margin-top: 45px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.2s;
  }

  .dropdown.active .items {
    visibility: visible;
  }
  .dropdown .items a {
    width: 95px;
    position: relative;
    left: 100%;
    display: flex;
    font-size: 12px;
    background: #fff;
    color: #ff001b;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 2px;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
    transition-delay: calc(25ms * var(--i));
  }

  .dropdown.active .items a {
    left: 0;
  }

  .dropdown .items a:hover {
    color: #fff;
  }
  .dropdown .items a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff001b;
    z-index: -1;
    border-radius: inherit;
    transform: rotate(160deg);
    transform-origin: right;
    transition: 0.5s;
  }
  .dropdown .items a:hover span {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  .box-genre {
    position: relative;
    // width: 150px;
    // margin: 0 auto;
  }
  .dropdown {
    height: 42px;
    width: 120px;
  }
  .dropdown .items {
    width: 120px;
    margin-top: 63px;
  }

  .dropdown .items a {
    width: 120px;
    padding: 10px 15px;
  }

  .dropdown .left-icon,
  .dropdown .right-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 13px;
    height: 5px;
    background: #fff;
    border-radius: 40px;
    transition: 0.5s;
  }
  .dropdown .left-icon {
    left: 7px;
    transform: rotate(45deg);
  }
  .dropdown.active .left-icon {
    transform: rotate(135deg);
  }
  .dropdown .right-icon {
    transform: rotate(-45deg);
  }
  .dropdown.active .right-icon {
    transform: rotate(-135deg);
  }
}
@media screen and (min-width: 1280px) {
  .dropdown {
    height: 50px;
    width: 130px;
  }
  .dropdown .items {
    width: 130px;
    margin-top: 60px;
  }

  .dropdown .items a {
    width: 130px;
    padding: 10px 15px;
  }
}
