.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  max-height: calc(100vh - 20px);
  background-color: white;
  padding: 40px 20px;
  visibility: hidden;
  opacity: 0;
  z-index: 30;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: #ff6b01;
    stroke: #ff6b01;
  }
}

.poster-block {
  position: relative;
  margin-bottom: 20px;
}

.poster {
  width: 240px;
  height: 357px;
  border-radius: 5px;
}

.film-information-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.rating-table {
  margin-bottom: 20px;
}

.rating {
  display: inline-block;
  background-color: #ff6b01;
  color: #fff;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  text-align: center;
}

.table-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  padding-right: 40px;
}

.table-inf {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.about {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about-film {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  max-height: 240px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.buttons-add {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-add {
  width: 110px;
  height: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ff6b01;
    color: #fff;
    border: 1px solid #ff6b01;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    height: 552px;
    padding: 40px 36px;
  }

  .modal-film-info {
    display: flex;
    gap: 68px;
    align-items: flex-start;
  }

  .poster {
    width: 264px;
    height: 374px;
  }

  .film-information-title {
    margin-top: 0;
  }

  .btn-add {
    width: 125px;
  }

  .buttons-add {
    gap: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    overflow-y: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
  .modal-film-info {
    gap: 16px;
  }

  .poster {
    width: 375px;
    height: 478px;
  }

  .film-information-title {
    font-size: 30px;
    line-height: 1.17;
  }

  .about-film {
    max-height: 160px;
  }

  .btn-add {
    width: 136px;
  }
}

.youtube__btn {
  position: absolute;
  font-size: 70px;
  top: 50%;
  left: 50%;
  color: red;
  background: 0 0;
  border: none;
  transform: translate(-50%, -50%);
}
.background-image {
  height: 35px;
  width: 30px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.25s linear;
  border-radius: 5px;
}
.fa:hover {
  transform: scale(1.3);
}

.auth_modal {
  height: 690px;

  background-color: #080710;
  background-repeat: no-repeat;
  background-image: url(../images/loginFormBackground.png);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.auth_modal_form {
  height: 100%;
  width: 100%;
  @media screen and (min-width: 350px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 400px;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.auth_modal_form_title {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #ff6b01;
}

.auth_modal_form_lable {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  display: block;
  color: #ff6b01;
}

.auth_modal_form_input {
  display: block;
  height: 50px;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 20px;
  letter-spacing: 0.4;
  // font-weight: 400;
  color: white;

  &:focus {
    transform: scale(1.1);
    transition-property: transform;
    transition-property: box-shadow;
    box-shadow: 0 0 16px #a7151a;
  }
}
::placeholder {
  color: #7d7b7b;
  font-size: 18px;
}

.auth_modal_form .auth_modal_form_button {
  width: 100%;
  height: 50px;
  margin-top: 30px;

  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
}

.auth_modal_form_button:hover {
  color: #ffffff;
  border-color: #ff6b02;
  background: #ff6b02;
  box-shadow: 0px 8px 43px 0px #ff6b0199;
}

.auth_modal .modal-close-btn {
  color: white;
}

.auth_modal_loginError {
  width: 100%;
  height: 20px;
  display: none;
}
.auth_modal_loginError_errorText {
  color: red;
  font-size: 18px;
}

.auth_modal-loginGreetingsBox {
  text-align: center;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.auth_modal-loginGreetingsBox_text {
  color: #fff;
}
