
@media screen and (min-width: 320px){
    .default{
        padding-top: 20px;

        &_background {
            width: 100%;
            object-fit: cover;
            }

        &_title{
            
            color: #f57c00;
            display: block;
            margin-bottom: 30px;
            font-size: 16px;
            // margin: 0;
            margin-bottom: 10px;
            line-height: 1.17;
            text-align: center;
            box-shadow: 0px 0px 9px 0px rgba(245, 124, 0, 1);
            border-radius: 10px;
                }
        
    }

 }

@media screen and (min-width: 768px){
    .default_title{
        font-size: 25px;
    }
}


@media screen and (min-width: 1280px) {
    .default_title {
        font-size: 35px;
    }
}
