@import './common';
@import './example';
@import './footer';
@import './backdrop';
@import './modal-window';
@import './library-header';


@import './utils/placeholder';
@import './utils/visually_hidden';

@import './layout/movies-section';


@import './gallery';
@import './home-header';

