@import './common';
@import './example';
@import './footer';
@import './backdrop';
@import './modal-window';
@import './library-header';
@import './btn-up';

@import './utils/placeholder';
@import './utils/visually_hidden';

@import './layout/movies-section';

@import './home-header';

@import './layout/pagination';
@import './custom-toggle';
