<div class="sigh-in-form">
  <h1 class="form-title">Sigh In</h1>
  <form class="auth-form">
    <label>
      <span>Email</span>
      <input type="email" name="email" />
    </label>
    <label
      ><span>Password</span>
      <input type="text" name="password" />
    </label>
    <button type="submit">Sigh In</button>
  </form>
</div>

<div class="login-in-form">
  <h1 class="form-title">Log In</h1>
  <form class="auth-form">
    <label>
      <span>Email</span>
      <input type="email" name="email" />
    </label>
    <label
      ><span>Password</span>
      <input type="text" name="password" />
    </label>
    <button type="submit">Log In</button>
  </form>
</div>
