<main>
  <p>HOME GALLERY</p>
  <section class="portfolio section">
    <div class="container">
      <h1 class="visually-hidden">Портфоліо</h1>
      <ul class="portfolio-images__list list">
        <li class="portfolio-images__item">
          <a class="portfolio-images__href" href="#">
            <!-- <img src="../images/" alt="Зображення ноутбука" /> -->
            <!-- <img src="../images/" alt="" /> -->
            <div class="box-description">
              <h2 class="box-description__title">Технокряк</h2>
              <p class="box-description__text">Веб-сайт</p>
            </div>
          </a>
        </li>
        <li class="portfolio-images__item">
          <a class="portfolio-images__href" href="#">
            <!-- <img src="./images/poster.jpg" alt="Два баскетболіста" /> -->
            <div class="box-description">
              <h2 class="box-description__title">
                Постер <span>New Orlean vs Golden Star</span>
              </h2>
              <p class="box-description__text">Дизайн</p>
            </div>
          </a>
        </li>
        <li class="portfolio-images__item">
          <a class="portfolio-images__href" href="#">
            <!-- <img src="./images/seafood.jpg" alt="Логотип ресторану" /> -->
            <div class="box-description">
              <h2 class="box-description__title">
                Ресторан <span>Seafood</span>
              </h2>
              <p class="box-description__text">Додаток</p>
            </div>
          </a>
        </li>
        <li class="portfolio-images__item">
          <a class="portfolio-images__href" href="#">
            <!-- <img src="./images/headphone.jpg" alt="Навушники" /> -->
            <div class="box-description">
              <h2 class="box-description__title">Проєкт Prime</h2>
              <p class="box-description__text">Маркетинг</p>
            </div>
          </a>
        </li>
        <li class="portfolio-images__item">
          <a class="portfolio-images__href" href="#">
            <!-- <img src="./images/boxes.jpg" alt="Дві коробки" /> -->
            <div class="box-description">
              <h2 class="box-description__title">Проєкт <span>Boxes</span></h2>
              <p class="box-description__text">Додаток</p>
            </div>
          </a>
        </li>
        <li class="portfolio-images__item">
          <a class="portfolio-images__href" href="#">
            <!-- <img src="./images/inspirarion.jpg" alt="Монітор" /> -->
            <div class="box-description">
              <h2 class="box-description__title">
                <span>Inspiration has no Borders</span>
              </h2>
              <p class="box-description__text">Веб-сайт</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
