<main>

  <section class="movies section">
    <div class="container">
      <h1 class="visually-hidden">Movies</h1>
      <ul
        class="movies-images__list list js-modal-triger data-modal='js-filmInfoModal"
      >
        <!-- <li class="movies-images__item">
          <img class="movie-image" src="/src/images/Rectangle 5.jpg" alt="" />
          <div class="box-description">
            <h2 class="box-description__title">Greyhound</h2>
            <p class="box-description__text">
              <span class="box-description__span">Drama, Action</span>2020
            </p>
          </div>
        </li> -->
      </ul>
    </div>

  //<section class="gallery__container">
   // <p>HOME GALLERY</p>
    //<div class="home-gallery"></div>

  </section>
</main>
