<header class="header">
  <div class="container">
    <div class="container-nav">
      <a class="logo-main" href="index.html">
        <svg class="logo-main__icon">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span class="logo-main__name">Filmoteka</span>
      </a>

      <nav class="container-nav__link">
        <ul class="nav-menu list">
          <li class="menu-nav__item">
            <a href="./index.html" class="menu-nav__link current">HOME</a>
          </li>
          <li class="menu-nav__item">
            <a href="./my-library.html" class="menu-nav__link">MY LIBRARY</a>
          </li>
          <li
            class="menu-nav__item menu-nav__link js-modal-triger"
            data-modal="js-auth_modal"
          >
            Log in
          </li>
        </ul>
      </nav>
    </div>
    <form class="search-form" id="search-form">
      <div class="search-form__container">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          id="searchQuery"
          placeholder="Movie search"
          autocomplete="off"
          required
        />
        <button class="search-form__button" type="submit">
          <svg class="search-form__icon">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    <div>
      <p for="search-form__input" class="error-text">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>
  </div>
  <div class="btn-container">
    <include src="./partials/custom-toggle.html"></include>
    <include src="./partials/genres-btn.html"></include>
  </div>
</header>
