<main>
  <div class="container default">
    <h1 class="default_title">
      Select the appropriate category in the site header!
    </h1>
    <img
      class="default_background"
      src="/src/images/kinoteatr-fon.jpg"
      alt="Default image"
    />
  </div>
  <section class="gallery__container movies section" id="content-wrap">
    <div class="container">
      <h1 class="visually-hidden">My Library</h1>
      <ul
        class="movies-images__list list home-gallery js-modal-triger"
        data-modal="js-filmInfoModal"
      ></ul>
    </div>
    <div class="pagination"></div>
  </section>
</main>
