<header class="header">
  <div class="container">
    <div clas="library__header__container">
      <div class="library__header__nav">
        <a class="logo">
          <div class="logo__svg">
          </div>
          <div class="logo__text">Filmoteka</div>
      </div>
      <div class="library__header__nav">
        <ul>
          <li class="library__header__nav"><a href="#">HOME</a></li>
          <li class="library__header__nav"><a href="./my-library.html">My library</a></li>
      </div>

    </div>
    <div class="library__header__menu">
      <button class="library__header__btn" type="button">Watched</button>
      <button class="library__header__btn" type="button">Queue</button>
    </div>
  </div>

</header>
