<div class="modal_student visually-hidden">
<div>
    <ul class="line1">
        <li><img id="t1" src="./images/teams/Ihor_Statsenko_desktop.jpg" alt="Ihor Statsenko" class="line_img"></li>
        <li><img id="t2" src="./images/teams/Vitalii_Nozhenko_desktop.jpg" alt="Vitalii Nozhenko" class="line_img"></li>
        <li><img id="t3" src="./images/teams/Viktoriia_Lehusova_desktop.jpg" alt="Viktoriia Lehusova" class="line_img">
        </li>

    </ul>
    <ul class="line11">
        <li><img id="t4" src="./images/teams/Iakiv_Pekarskyi_desktop.jpg" alt="Iakiv Pekarskyi" class="line_img"></li>
        <li><img id="t5" src="./images/teams/Olena_Semenenko_desktop.jpg" alt="Olena Semenenko" class="line_img"></li>
        <li><img id="t6" src="./images/teams/Ivan_Osadchuk_desktop.jpg" alt="Ivan Osadchuk" class="line_img"></li>
    </ul>
    <ul class="line12">
        <li><img id="t7" src="./images/teams/Artymuk_Iryna_desktop.jpg" alt="Artymuk Iryna" class="line_img"></li>
        <li><img id="t8" src="./images/teams/Yaroslav_Ashchaulov_desktop.png" alt="Yaroslav Ashchaulov"
                class="line_img"></li>
        <li><img id="t9" src="./images/teams/Dina_Tian_desktop.png" alt="Dina Tian" class="line_img"></li>
    </ul>
    <ul class="line13">
        <li><img id="t10" src="./images/teams/Andrii_Gordienko_deskto.png" alt="Andrii Gordienko" class="line_img"></li>
        <li><img id="t11" src="./images/teams/Oksana_Khymych_desktop.png" alt="Oksana Khymych" class="line_img"></li>
        <li><img id="t12" src="./images/teams/Ihor_Diuzhev.png" alt="Oksana Khymych" class="line_img"></li>
    </ul>
    <ul class="line14">
        <li><img id="t13" src="./images/teams/Anna_Kornieieva.png" alt="Andrii Gordienko" class="line_img"></li>
    </ul>
</div>

<div>
    <ul class="line2">
        <li><img id="t1" src="./images/teams/Ihor_Statsenko_desktop.jpg" alt="Ihor Statsenko" class="line_img"></li>
        <li><img id="t2" src="./images/teams/Vitalii_Nozhenko_desktop.jpg" alt="Vitalii Nozhenko" class="line_img"></li>
        <li><img id="t3" src="./images/teams/Viktoriia_Lehusova_desktop.jpg" alt="Viktoriia Lehusova" class="line_img">
        </li>
        <li><img id="t4" src="./images/teams/Iakiv_Pekarskyi_desktop.jpg" alt="Iakiv Pekarskyi" class="line_img"></li>
        <li><img id="t5" src="./images/teams/Olena_Semenenko_desktop.jpg" alt="Olena Semenenko" class="line_img"></li>
        <li><img id="t6" src="./images/teams/Ivan_Osadchuk_desktop.jpg" alt="Ivan Osadchuk" class="line_img"></li>
        <li><img id="t12" src="./images/teams/Ihor_Diuzhev.png" alt="Oksana Khymych" class="line_img"></li>
    </ul>
    <ul class="line21">
        <li><img id="t7" src="./images/teams/Artymuk_Iryna_desktop.jpg" alt="Artymuk Iryna" class="line_img"></li>
        <li><img id="t8" src="./images/teams/Yaroslav_Ashchaulov_desktop.png" alt="Yaroslav Ashchaulov"
                class="line_img"></li>
        <li><img id="t9" src="./images/teams/Dina_Tian_desktop.png" alt="Dina Tian" class="line_img"></li>
        <li><img id="t10" src="./images/teams/Andrii_Gordienko_deskto.png" alt="Andrii Gordienko" class="line_img"></li>
        <li><img id="t11" src="./images/teams/Oksana_Khymych_desktop.png" alt="Oksana Khymych" class="line_img"></li>
        <li><img id="t13" src="./images/teams/Anna_Kornieieva.png" alt="Andrii Gordienko" class="line_img"></li>
    </ul>
</div>

<div>
    <ul class="line3">
        <li><img id="t1" src="./images/teams/Ihor_Statsenko_desktop.jpg" alt="Ihor Statsenko" class="line_img"></li>
        <li><img id="t2" src="./images/teams/Vitalii_Nozhenko_desktop.jpg" alt="Vitalii Nozhenko" class="line_img"></li>
        <li><img id="t3" src="./images/teams/Viktoriia_Lehusova_desktop.jpg" alt="Viktoriia Lehusova" class="line_img">
        </li>
        <li><img id="t4" src="./images/teams/Iakiv_Pekarskyi_desktop.jpg" alt="Iakiv Pekarskyi" class="line_img"></li>
        <li><img id="t5" src="./images/teams/Olena_Semenenko_desktop.jpg" alt="Olena Semenenko" class="line_img"></li>
        <li><img id="t6" src="./images/teams/Ivan_Osadchuk_desktop.jpg" alt="Ivan Osadchuk" class="line_img"></li>
        <li><img id="t7" src="./images/teams/Artymuk_Iryna_desktop.jpg" alt="Artymuk Iryna" class="line_img"></li>
        <li><img id="t8" src="./images/teams/Yaroslav_Ashchaulov_desktop.png" alt="Yaroslav Ashchaulov"
                class="line_img"></li>
        <li><img id="t9" src="./images/teams/Dina_Tian_desktop.png" alt="Dina Tian" class="line_img"></li>
        <li><img id="t10" src="./images/teams/Andrii_Gordienko_deskto.png" alt="Andrii Gordienko" class="line_img"></li>
        <li><img id="t11" src="./images/teams/Oksana_Khymych_desktop.png" alt="Oksana Khymych" class="line_img"></li>
        <li><img id="t12" src="./images/teams/Ihor_Diuzhev.png" alt="Oksana Khymych" class="line_img"></li>
        <li><img id="t13" src="./images/teams/Anna_Kornieieva.png" alt="Andrii Gordienko" class="line_img"></li>
    </ul>
</div>

<div>
    <div id="p1" class="teams_desk">
        <img class="teams_img" src="./images/teams/Ihor_Statsenko.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Ihor Statsenko</h2>
        <p class="teams_desk_text">Hi!</p>
        <div class="soc_icons">
            <a href="https://github.com" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

    <div id="p2" class="teams_desk">
        <img src="./images/teams/Vitalii_Nozhenko.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Vitalii Nozhenko</h2>
        <p class="teams_desk_text">Hi!</p>
        <div class="soc_icons">
            <a href="https://github.com" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

    <div id="p3" class="teams_desk">
        <img src="./images/teams/Viktoriia_Lehusova.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Viktoriia Lehusova</h2>
        <p class="teams_desk_text">Role in project - developer.</p>
        <div class="soc_icons">
            <a href="https://github.com/Viktoriia-Lehusova" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me/lehusova" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p4" class="teams_desk">
        <img src="./images/teams/Iakiv_Pekarskyi.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Iakiv Pekarskyi</h2>
        <p class="teams_desk_text">I am happy travelling soul.</p>
        <div class="soc_icons">
            <a href="https://github.com/iakivpekarskyi" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://linkedin.com/in/iakiv-pekarskyi-616b95244" target="_blank"><img src="./images/teams/in.png"
                    alt="in" class="soc_icon in"></a>
            <a href="https://t.me/yashabaker" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p5" class="teams_desk">
        <img src="./images/teams/Olena_Semenenko.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Olena Semenenko</h2>
        <p class="teams_desk_text">We are all a little bit of wizards</p>
        <div class="soc_icons">
            <a href="https://github.com/olena-semenenko" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://www.linkedin.com/in/olena-semenenko-137987263" target="_blank"><img
                    src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
            <a href="https://t.me/elena_semenenko" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p6" class="teams_desk">
        <img src="./images/teams/Ivan_Osadchuk.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Ivan Osadchuk</h2>
        <p class="teams_desk_text">Role in project - developer.</p>
        <div class="soc_icons">
            <a href="https://github.com/osadchukit" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://www.linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me/osadchukua" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p7" class="teams_desk">
        <img src="./images/teams/Artymuk_Iryna.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Artymu Iryna</h2>
        <p class="teams_desk_text">Diligent Junior Frontend Developer known for asking many questions</p>
        <div class="soc_icons">
            <a href="https://github.com/ira1988" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="http://www.linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

    <div id="p8" class="teams_desk">
        <img src="./images/teams/Yaroslav_Ashchaulov.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Yaroslav Ashchaulov</h2>
        <p class="teams_desk_text">An ordinary person with a simple rule. If you're afraid, you have to do it.</p>
        <div class="soc_icons">
            <a href="https://github.com/yara-frt" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="https://www.linkedin.com/in/yaroslav-ashchaulov-694559167" target="_blank"><img
                    src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
            <a href="https://t.me/y_ashchaulov" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p9" class="teams_desk">
        <img src="./images/teams/Dina_Tian.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Dina Tian</h2>
        <p class="teams_desk_text">Junior Developer with focus on frontend</p>
        <div class="soc_icons">
            <a href="https://github.com/Dina-Ursula" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="https://www.linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me/dina_ursula" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p10" class="teams_desk">
        <img src="./images/teams/Andrii_Gordienko.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Andrii Gordienko</h2>
        <p class="teams_desk_text">Never think that you are useless.</p>
        <div class="soc_icons">
            <a href="https://github.com/AndrewGordienko2704" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="https://www.linkedin.com" target="_blank"><img src="./images/teams/in.png" alt="in"
                    class="soc_icon in"></a>
            <a href="https://t.me/drun4ik2704" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p11" class="teams_desk">
        <img src="./images/teams/Oksana_Khymych.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Oksana Khymych</h2>
        <p class="teams_desk_text">In order to achieve your goal, you need to put in a lot of effort!</p>
        <div class="soc_icons">
            <a href="https://github.com/Oksana-24" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="https://www.linkedin.com/in/oksana-khymych-181b66220/" target="_blank"><img
                    src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
            <a href="https://t.me/OksanaKh" target="_blank"><img src="./images/teams/t.png" alt="t"
                    class="soc_icon t"></a>
        </div>
    </div>

    <div id="p12" class="teams_desk">
        <img src="./images/teams/Ihor_Diuzhev_desktop.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Ihor Diuzhev</h2>
        <p class="teams_desk_text">Abandon Hope All Ye Who Enter Here.</p>
        <div class="soc_icons">
            <a href="https://github.com/IhorDiu" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="https://www.linkedin.com/in/ihor-duizhev-38bb44242//" target="_blank"><img src="./images/teams/in.png"
                    alt="in" class="soc_icon in"></a>
            <a href="https://t.me/MSTRID" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

    <div id="p13" class="teams_desk">
        <img src="./images/teams//Anna_Kornieieva_desktop.png" alt="" class="teams_img">
        <h2 class="teams_desk_title">Anna Kornieieva</h2>
        <p class="teams_desk_text">Be careful with your thoughts, they tend to come true.</p>
        <div class="soc_icons">
            <a href="https://github.com/KornieievaAnna" target="_blank"><img src="./images/teams/git.png" alt="git"
                    class="soc_icon git"></a>
            <a href="https://www.linkedin.com/in/anna-kornieieva-3a1599166/" target="_blank"><img src="./images/teams/in.png"
                    alt="in" class="soc_icon in"></a>
            <a href="https://t.me/K_ruzhk_A" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

</div>

<div class="fon"></div>
</div>

