<a href="" class="students">GoIT Students</a>

<ul class="box">
    <li><img id="t1" src="./images/teams/Ihor_Statsenko_desktop.jpg" name="Ihor_Statsenko" alt="Ihor Statsenko"
            class="box_img"></li>
    <li><img id="t2" src="./images/teams/Vitalii_Nozhenko_desktop.jpg" name="Vitalii_Nozhenko" alt="Vitalii Nozhenko"
            class="box_img"></li>
    <li><img id="t3" src="./images/teams/Viktoriia_Lehusova_desktop.jpg" name="Viktoriia_Lehusova"
            alt="Viktoriia Lehusova" class="box_img"></li>
    <li><img id="t4" src="./images/teams/Iakiv_Pekarskyi_desktop.jpg" name="Iakiv_Pekarskyi" alt="Iakiv Pekarskyi"
            class="box_img"></li>
    <li><img id="t5" src="./images/teams/Olena_Semenenko_desktop.jpg" name="Olena_Semenenko" alt="Olena Semenenko"
            class="box_img"></li>
    <li><img id="t6" src="./images/teams/Ivan_Osadchuk_desktop.jpg" name="Ivan_Osadchuk" alt="Ivan Osadchuk"
            class="box_img"></li>
    <li><img id="t7" src="./images/teams/Artymuk_Iryna_desktop.jpg" name="Artymuk_Iryna" alt="Artymuk Iryna"
            class="box_img"></li>
    <li><img id="t8" src="./images/teams/Yaroslav_Ashchaulov_desktop.png" name="Yaroslav_Ashchaulov"
            alt="Yaroslav Ashchaulov" class="box_img"></li>
    <li><img id="t9" src="./images/teams/Dina_Tian_desktop.png" name="Dina_Tian" alt="Dina Tian" class="box_img"></li>
</ul>



<div>
    <div id="p1" class="teams_desk">
        <img src="./images/teams/Ihor_Statsenko.png" alt="" width="400px">
        <h2 class="teams_desk_title">Ihor Statsenko</h2>
        <p class="teams_desk_text">Hi!</p>
        <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

    <div id="p2" class="teams_desk">
        <img src="./images/teams/Vitalii_Nozhenko.png" alt="" width="400px">
        <h2 class="teams_desk_title">Vitalii_Nozhenko</h2>
        <p class="teams_desk_text">Hi!</p>
        <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>

    <div id="p3" class="teams_desk">
        <img src="./images/teams/Viktoriia_Lehusova.png" alt="" width="400px">
        <h2 class="teams_desk_title">Viktoriia Lehusova</h2>
        <p class="teams_desk_text">Diligent Junior Frontend Developer known for asking many questions</p>
        <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
        </div>
    </div>
</div>

<div id="p4" class="teams_desk">
    <img src="./images/teams/Iakiv_Pekarskyi.png" alt="" width="400px">
    <h2 class="teams_desk_title">Iakiv Pekarskyi</h2>
    <p class="teams_desk_text">Hi!</p>
    <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
    </div>
</div>

<div id="p5" class="teams_desk">
    <img src="./images/teams/Olena_Semenenko.png" alt="" width="400px">
    <h2 class="teams_desk_title">Olena Semenenko</h2>
    <p class="teams_desk_text">Hi!</p>
    <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
    </div>
</div>

<div id="p6" class="teams_desk">
    <img src="./images/teams/Ivan_Osadchuk.png" alt="" width="400px">
    <h2 class="teams_desk_title">Ivan Osadchuk</h2>
    <p class="teams_desk_text">Diligent Junior Frontend Developer known for asking many questions</p>
    <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
    </div>
</div>
</div>

<div id="p7" class="teams_desk">
    <img src="./images/teams/Artymuk_Iryna.png" alt="" width="400px">
    <h2 class="teams_desk_title">Artymuk_Iryna</h2>
    <p class="teams_desk_text">Hi!</p>
    <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
    </div>
</div>

<div id="p8" class="teams_desk">
    <img src="./images/teams/Yaroslav_Ashchaulov.png" alt="" width="400px">
    <h2 class="teams_desk_title">Yaroslav Ashchaulov</h2>
    <p class="teams_desk_text">Hi!</p>
    <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
    </div>
</div>

<div id="p9" class="teams_desk">
    <img src="./images/teams/Dina_Tian.png" alt="" width="400px">
    <h2 class="teams_desk_title">Dina Tian</h2>
    <p class="teams_desk_text">Diligent Junior Frontend Developer known for asking many questions</p>
    <div class="soc_icons">
        <a href="" target="_blank"><img src="./images/teams/git.png" alt="git" class="soc_icon git"></a>
        <a href="" target="_blank"><img src="./images/teams/in.png" alt="in" class="soc_icon in"></a>
        <a href="https://t.me/" target="_blank"><img src="./images/teams/t.png" alt="t" class="soc_icon t"></a>
    </div>
</div>
</div>

<div class="fon"></div>