////------------------------------------------
.movies-images__item {
  border-radius: 5px;
  overflow: hidden;
  // box-shadow: 0 0 8px rgba(200, 200, 200, 0.8);
  // transition: box-shadow 250ms linear;
  // transition-property: box-shadow;
  transition-duration: 500ms;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 2 * 16px) / 3);
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 16px #a7151a;
    transition-property: box-shadow;
    // transition-duration: 2000ms;
    cursor: pointer;
  }
}

.movie-image__cover {
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: 767.98px) {
    width: 280px;
    height: 398px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms linear;
  transition-duration: 500ms;

  // @media screen and (min-width: 768px) {
  .movies-images__item:hover &,
  .movies-images__item:focus & {
    transform: scale(1.05);
    transition-property: transform;
  }
}

///----------------------------------------------------------------

.movies {
  padding-top: 20px;
  padding-bottom: 40px;
}

.movies-images {
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  &__item {
    width: 280px;
    height: 443px;
  }
}

.movie-image {
  // width: 280px;
  // height: 402px;
  border-radius: 5px;
}

.box-description {
  // padding-top: 10px;
  padding: 10px 2px 5px;

  &__title {
    margin: 0;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text {
    margin: 0;
    color: #ff6b08;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }

  &__span::after {
    content: '';
    position: relative;
    display: inline-flex;
    width: 10px;
    bottom: 4px;
    height: 0;
    border: 1px solid #ff6b08;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 768px) {
  .movies {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .movies-images {
    &__list {
      gap: 32px;
    }
    &__item {
      width: 336px;
      height: 494px;
    }
  }
  .movie-image {
    // width: 336px;
    height: 460px;
  }
  .box-description {
    // padding-top: 8px;
    padding: 8px 2px 4px;

    &__title {
      line-height: 1.33;
    }
  }
}

@media screen and (min-width: 1280px) {
  .movie-image {
    // width: 395px;
    height: 580px;
  }
  .box-description {
    // padding-top: 12px;
    padding: 12px 3px 6px;

    &__title {
      font-size: 20px;
      line-height: 1.2;
    }
    &__text {
      font-size: 20px;
      line-height: 1.2;
    }
    &__span::after {
      width: 17px;
      bottom: 6px;
    }
  }
  .movies-images {
    &__list {
      column-gap: 15px;
      row-gap: 32px;
    }
    &__item {
      width: 395px;
      height: 640px;
    }
  }
}
